body{
    font-family: sans-serif;
}
header{
    border: 10px solid dodgerblue;
    padding: 8px;
}
.search{
    justify-items: center;
    background-color: rgb(126, 243, 8);
    padding: 10px;
    align-items: center;
    justify-items: center;
}
a{
    color: black;
}
a:hover{
    text-decoration: underline;
    color: blueviolet;
    text-decoration-color: blueviolet;
}
button{
    border: none;
    border-radius: 20px;
    height: 40px; 
    padding: 0 20px; 
    font-size: 16px;
    margin: 7px;
    cursor:pointer;
}
button:hover{
background-color: rgb(219, 219, 219);
}
.search-bar{
    height: auto;
    background-color: rgba(255, 255, 255, 0.701);
     background-color: #f0f0f0;
    height: 40px;
    padding: 0 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

.rarr:not(span){
    size: 50px;
}